build
*.tar.gz
results
lib
*.log
*.so
*.o
userspace/bin/*
pin-3.20_build
pin-3.27_build
*.out
scripts/
scripts/*
!scripts/*.sh
!scripts/*.py
!tests/
tests/*
!tests/sources/
.lst
tests
backup*.cpp
#test.out#
