[submodule "taint_analysis/libdft64"]
	path = taint_analysis/libdft64
	url = https://github.com/AngoraFuzzer/libdft64.git
	dirty = ignore
[submodule "fun_c14n/comp_analyiss/e9patch"]
	path = fun_c14n/comp_analysis/e9patch
	url = https://github.com/GJDuck/e9patch.git
[submodule "fun_c14n/comp_analysis/instrument-attribute-gcc-plugin"]
	path = fun_c14n/comp_analysis/instrument-attribute-gcc-plugin
	url = https://github.com/christophebedard/instrument-attribute-gcc-plugin.git
[submodule "var_c14n/static_analysis/SVF"]
	path = var_c14n/static_analysis/SVF
	url = https://github.com/SVF-tools/SVF.git
[submodule "var_c14n/static_analysis/spdlog"]
	path = var_c14n/static_analysis/spdlog
	url = https://github.com/gabime/spdlog.git
