build
*.tar.gz
results
lib
*.log
*.so
*.o
userspace/bin/*
pin-3.20_build
pin-3.27_build
*.out
!OR_analysis/scripts
!OR_analysis/scripts/*.sh
!OR_analysis/scripts/*.py
!taint_analysis/scripts/*.sh
!taint_analysis/scripts/*.py
!comp_analysis/tests/
!comp_analysis/tests/sources/
.lst
tests
backup*.cpp
#test.out#
tests/results